@model IEnumerable<CSharp_Scraper.Models.HAPStockTable>

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nasdaq Scrape History Table</title>
</head>
<body>
    <div class="col-md-4">
        <h2>Most Recent Database Scrape</h2>
        <button type="submit" class="btn btn-info" value="Most Recent Scrape" onclick="location.href='@Url.Action("MostRecentScrape", "HAPStockTables")'">Latest Scrape Data</button>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Scraped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change_Percent)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_Scraped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock_Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Percent)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
