<<<<<<< HEAD
﻿@model IEnumerable<CSharp_Scraper.StockTable>

@{
     ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Scraped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change_Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average_Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Market_Cap)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_Scraped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock_Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average_Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Market_Cap)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
=======
﻿@model IEnumerable<CSharp_Scraper.StockTable>

@{
     ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Scraped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock_Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Change_Percent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average_Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Market_Cap)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_Scraped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock_Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Change_Percent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Average_Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Market_Cap)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
>>>>>>> 961900145e26f7e80545174cdae75294aee15081
